/* MAIN */
main{
    padding: 0 120px;
}

.main_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc (100% - 50px);
    margin-top: 20px;
    background-color: var(--color-light-medium);
    padding: 50px;
}
.photographer_profile__infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.photographer_header_name {
    color: var(--color-tertiary);
    font-weight : 400;
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
}

.photographer_header_location {
    color: var(--color-primary);
    font-size: 24px;
}

.photographer_header_tagline, .photographer_price {
    font-size: 18px;
}

#contact_modal {
    z-index: 10;
    display: none;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.photographer_header_photo {
    height: 200px;
    width:200px;
    border-radius: 50%;
}

.photograph-header {
    background-color: var(--color-light-medium);
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-light);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color:var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
    background-color: var(--color-secondary);
    color: var(--color-black);
}
.modal {
    background-color: var(--color-secondary);
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    height: calc(100% + 200px);
    width: 669px;
    margin: 5% auto;
}
.modal_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 64px;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}

/* .modal header img {
    cursor: pointer;
} */
.btn_close{
    cursor: pointer;
}
.btn_close:focus:not(:hover){
    outline: 2px solid var(--color-primary);
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
.modal_form_title{
    width: 100%;
    font-size: clamp(2rem, 3vw, 4rem);
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: clamp(2rem, 3vw, 4rem);
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: var(--color-label);
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: calc(100% - 20px);
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
}
.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form_content textarea{
    border-radius: 5px;
    border:none;
    height: 150px;
    resize: none;
    padding: 10px;
    width: calc(100% - 35px);
    font-size: 20px;
    padding-left: 20px;
}
.btn_submit{
    width:170px;
    height: 69px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-light);
    padding: 15px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 5px;
}
.btn_submit:focus{
    outline: 2px solid var(--color-light);
}



/* le contenu de la page photographer: */
.main_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}
.main_content_filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}
.filter_section {
    position: relative;
    height: 100%;
}
.dropdown {
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}
.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: var(--color-primary);
}
.btn_drop, .dropdown_content li button {
    width: 10.625rem;
    height: 4rem;
    padding: 15px;
    font-size: 18px;
    color: var(--color-light);
}
.filter_title{
    font-size: 18px;
}
.dropdown_content {
    max-height: 0; 
    background-color: var(--color-primary);
    transition: max-height .1s ease-in-out;
}
.dropdown_content li {
    position: relative;
    width: 10.625rem;
}

.dropdown_content li:not(:first-child):before {
    background-color: #fff;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    right:15px;
}
.dropdown_content li button {
    width: 100%;
    text-align: left;
}
.curtain_effect {
    max-height: 200px;
}

.rotate{
    transform: rotate(180deg);
}
.dropdown_content li button:hover, .dropdown_content li button:focus, .btn_drop:hover, .btn_drop:focus {
    background-color: var(--color-secondary);
    color: var(--color-black);
}
li{
    list-style-type: none;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px 95px;
}
.gallery_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gallery_card a {
    
}

.gallery_thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.gallery_card a figure {
    height: 260px;
    
}
.gallery_card figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.gallery_card figcaption h2 {
    font-weight: 100;
    color: var(--color-primary);
    font-size: 24px;
}
.gallery_card figcaption div {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-primary);
    font-size: 24px;
}
.btn_like {
    border-radius: 5px;
    padding: 0 1px;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color: var(--color-secondary);
}
.btn_like:focus{
    outline: 2px solid var(--color-secondary);
}

aside {
    position: sticky;
    bottom: 0;
    left: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: fit-content;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--color-secondary);
}
.liked{
    color: var(--color-primary);
}
/* Lightbox */
.lightbox{
    position: relative;
    /*top:150px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    height: 95%;
    max-height: 1000px;
    background-color: var(--color-light);
    padding: 25px 60px 0;
    border-radius: 5px; 
    
   
}
.wrapper {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.lightbox_media{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.lightbox_media figcaption{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: var(--color-primary);
}

.lightbox_media img,
.lightbox_media video{
    width: 100%;
    height: calc(100% - 50px);
}

.lightbox_media video:focus{
    outline: 2px solid var(--color-primary);
}

.btn_close_lightbox{
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 0; 
}

/* .btn_close_lightbox::before{
    font-size: clamp(3rem, 6vw, 5rem);
    color: var(--color-primary);
} */

.btn_previous,
.btn_next{
    z-index: 100;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    padding: 5px;
}

.btn_next{
    right: 10px;
}

.btn_previous{
    left: 10px;
}
.btn_next::before,
.btn_previous::before{
    font-family:  "Font Awesome 5 Free";
    font-weight: 900;   
    font-size: clamp(3rem, 6vw, 5rem);
    color: var(--color-primary);
}

.btn_next::before{
    content: "\f054";
}

.btn_previous::before{
    content: "\f053";
}

.btn_previous:focus-visible:not(:hover),
.btn_next:focus-visible:not(:hover){
    outline: 2px solid var(--color-primary);
}

.btn_previous:hover::before,   
.btn_next:hover::before,
.btn_close_lightbox:hover::before{
    color: var(--color-secondary);
}

.invalid{
    outline: 2px solid var(--color-primary);
}

.valid{
    outline: 2px solid green;
}

.btn_next.active::before,
.btn_previous.active::before,
.btn_close_lightbox.active::before{
    color: var(--color-secondary);
}
