@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
p{
    margin-block-start: 3px;
    margin-block-end: 3px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-left: 100px;
}


h1 {
    color: var(--color-primary);
    margin-right: 100px;
}
h2{
    margin:0;
}
#main{
    margin: 0 auto;
    /* padding: 30px 20px 20px; */
    padding-bottom: 100px;
    max-width: 1440px;
    padding-left:100px;
    padding-right: 100px;
}

button, a {
    text-decoration: none;
}

.logo {
    height: 50px;
}

/* pour la bordure de focus */
header a {
    border-radius: 5px;
    padding: 5px;
}
/* Applique la règle uniquement si le lien n'est pas survolé.*/
header a:focus:not(:hover) {
    outline: 2px solid var(--color-secondary);
}

/* pour le focus sur les liens des photographes */
.main_photographers article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
article a:focus:not(:hover) {
    outline: 2px solid var(--color-secondary);
}

img, video {
    object-fit: cover;
    object-position: center;
}

.photographer_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.photographer_section article h2 {
    color:var(--color-tertiary);
    font-size: 36px;
}

.photographer_section article img {
    height: clamp(10rem, 15vw, 12.5rem);
    width: clamp(10rem, 15vw, 12.5rem);
}
.photographer_profile_picture{
    border-radius: 50%;
}
.photographer_name{
    margin-top: 20px;
    font-size: clamp(2rem, 1.5vw, 2.25rem);
    text-align: center;
}
.photographer_cityCountry {
    color: var(--color-primary);
    font-size: clamp(20px, 15px, 25px);
}
.photographer_tagline{
    font-size: clamp(15px, 10px, 20px);
}
.photographer_price{
    color: var(--color-dark-medium);
    font-size:clamp(15px, 10px, 20px);
}
figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}